.com		{margin-right: auto;
			margin-left: auto;}


.player		{margin-right: auto;
			margin-left: auto;
			}

textarea	{border: solid 1px #ffffff;		
			background-color: #ffffff;
			margin-left: 350px;
			margin-top: -450px;
			float: left;
			font-size: 40px;
			}

.box	{
		width: 844px;
		margin: 0 auto;
		position: relative;
}

.center	{
	width: 100%;
	
	text-align: center;
	padding-top: 0;
	background-image: url(images/kitchen.jpg);
	background-repeat: no-repeat;
	background-size: 820px 496px;
}

.center img {margin-top: 139px;
			margin-left: -400px}

header {text-align: center}

article {text-align: center}